<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello I'm Liching, I have recently completed the Front-End Web Developer Nanodegree by Udacity, and I am excited to put all that I have learnt into practice.</p>
                <a href="#" class="btn btn-default btn-xl">Visit My Journal</a>
            </div>
        </div>
    </div>
</section>
