<header>
	<video loop muted autoplay poster="img/lady typing.png" class="fullscreen-bg__video">
        <source src="video/typing-lady.mp4" type="video/mp4">
        <source src="video/typing-lady.webm" type="video/webm">
   		<source src="video/typing-lady.ogv" type="video/ogv">
    </video>
    <div class="header-content">
    	<div class="fullscreen-bg">

		</div>
        <div class="header-content-inner">
            <h1>Liching Yew</h1>
            <hr>
            <p>Front-end Web Designer and Developer</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
