<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://lichingyew.com/sukyo-mahikari-oceania/" class="portfolio-box">
                    <img src="img/portfolio/img-SMA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Work in Progress,
                        </div>
                        <div class="project-name">
                            Sukyo Mahikari Oceania
                        </div>
                  </div>
                </div>
            </div><!-- Sukyo Mahikari Oceania-->

            <div class="col-lg-4 col-sm-6">
                <a href="http://lichingyew.com/FEND-neighborhood-map/" class="portfolio-box">
                    <img src="img/portfolio/img-portfolio-FEND-5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Web Application
                        </div>
                        <div class="project-name">
                            Neighborhood Map
                        </div>
                  </div>
                </div>
            </div> <!-- Neighbourhood Map -->

            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/Little-Hotelier-Training.png" class="portfolio-box">
                    <img src="img/portfolio/img-LH-training.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Design
                        </div>
                        <div class="project-name">
                            Little Hotelier Training Page
                        </div>
                  </div>
                </div>
            </div> <!-- Little Hotelier Training Page -->

            <div class="col-lg-4 col-sm-6">
                <a href="http://lichingyew.com/frontend-nanodegree-arcade-game-master/" class="portfolio-box">
                    <img src="img/portfolio/img-FEND-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Game
                        </div>
                        <div class="project-name">
                            Frogger
                        </div>
                  </div>
                </div>
            </div> <!-- Frogger -->

            <div class="col-lg-4 col-sm-6">
                <a href="http://lichingyew.com/22/" class="portfolio-box">
                    <img src="img/portfolio/img-22.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Web Development
                        </div>
                        <div class="project-name">
                            22
                        </div>
                  </div>
                </div>
            </div> <!-- 22-->

            <div class="col-lg-4 col-sm-6">
                <a href="http://lichingyew.com/Emeralds/" class="portfolio-box">
                    <img src="img/portfolio/Project-img-SESC.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-grid-caption">
                    <div class="portfolio-grid-caption-content">
                        <div class="project-category text-faded">
                            Web Design
                        </div>
                        <div class="project-name">
                            Sydney Emeralds Synchro Club
                        </div>
                  </div>
                </div>
            </div> <!-- Sydney Emeralds Synchro Club -->
        </div>
    </div>
</section>
