<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            {% for project in site.data.project %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ project.url }}" class="portfolio-box">
                        <img src="{{ project.image }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-grid-caption">
                        <div class="portfolio-grid-caption-content">
                            <div class="project-category text-faded">
                                {{ project.type }}
                            </div>
                            <div class="project-name">
                                {{ project.name }}
                            </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
